.Container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    grid-gap: 1rem;
    height: 4rem;
    width: 2rem;
}

@media(max-width: 1000px) {

    .Container{
        display: grid;
        grid-template-columns: auto auto;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        grid-gap: 1rem;
        height: 4rem;
        width: 4rem;
    }

}

@media(max-width: 730px) {

    .Container{
        display: grid;
        grid-template-columns: auto;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        grid-gap: 1rem;
        height: 4rem;
        width: 4rem;
    }

}