.CardMedia{
    height: 5rem;
    width: 14rem;
    margin-top: 1rem;
}

.Container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0;
    margin-left: 2rem;
    grid-gap: 1rem;
    height: 15rem;
    width: 15rem;
    /* margin-top: 1rem; */
}